$dark_grey: #383838;
$space_grey: #888888;
$light_grey: #afafaf;
$lighter_grey: #d7d7d7;
$lightest_grey: #f1f1f1;
$bg: #f8f8f8;
$border: #e6e6e6;
$fb_blue: #445baa;
$info: #2aa19d;
$info-bg: #eef7f7;
$error: #f04f57;
$error-bg: #feeaef;
$primary: #42b6ac;
