@import "../../styles/colors.scss";

.photoList {
  display: flex;
  justify-content: center;
  width: 900px;
  margin: auto;
  > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    width: auto;
  }
}
