@import "../../styles/colors.scss";

.navbar {
  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 50px;
    position: fixed;
    height: 75px;
    background-color: #fff;
    width: 100vw;
    border-bottom: 1px solid $lighter_grey;
    > div > a,
    button {
      font-weight: 500;
      color: #000;
      text-decoration: none;
      margin: 0 20px;
      border: none;
      background-color: none;
    }
  }
}
