@import "../../styles/colors.scss";
.inputPost {
  border: 1px solid $lighter_grey;
  padding: 40px 40px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  input,
  textarea {
    margin-bottom: 20px;
    width: 100%;
  }
  textarea {
    box-sizing: border-box;
    display: block;
    resize: none;
    height: 40px !important;
  }
  button {
    background-color: $dark_grey;
    font-size: 20px;
    color: #fff;
    border: none;
    letter-spacing: 2px;
    align-self: flex-end;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.1s;
    padding: 5px 20px;
    &:hover {
      cursor: pointer;
      background-color: $space_grey;
    }
  }
}
